//
//  ReleaseConfig.xcconfig
//  MultiTest
//
//  Created by caohx on 2022/4/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "CommonConfig.xcconfig"
#include "Pods/Target Support Files/Pods-MultiTest/Pods-MultiTest.release.xcconfig"

APP_DISPLAY_NAME = 正式环境真名
//CONFIG_FLAG = RELEASE
SCHEME = MultiTest_Release
BUNDLEID = com.caohx.MultiTestRelease
